<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
<h1>ShortKing Shortener</h1>
<form id="urlForm">
    <label for="url">Enter URL:</label>
    <input type="text" id="url" onclick=show() name="url" placeholder="https://example.com" required>
    <button type="submit">Shorten it!</button>
</form>

<style>
    #show{
        display: none;
    }
</style>

<p id="shortenedUrl"></p>

<script>
    function show() {
        let button = document.getElementById("hiddenContent")
        button.style.display = "block"
    }
</script>

<script>
    document.getElementById('urlForm').addEventListener('submit', async function(e) {
        e.preventDefault();

        const url = document.getElementById('url').value;

        // use POST request to get to backend
        const baseUrl = window.location.origin;  // get actual url
        const response = await fetch(`${baseUrl}/urls/shorten`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ url: url })
        });

        if (response.ok) {
            const data = await response.text();
            // console.log('Raw Response:', data);
            document.getElementById('shortenedUrl').innerText = `Shortened URL: ${data}`;
        } else {
            document.getElementById('shortenedUrl').innerText = 'Error shortening URL';
        }
    });
</script>
</body>
</html>
